<span>查詢條件</span>
<div>
    <nz-input-group nzCompact>
        <nz-date-picker [(ngModel)]="_stockDate"></nz-date-picker>
    </nz-input-group>
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input nz-input type="text" placeholder="輸入股票代號,多筆請用&隔開" [(ngModel)]="_stockId" />
    </nz-input-group>
    <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="doSearch()"><i nz-icon nzType="search"></i></button>
    </ng-template>
</div>

<br />
<br />

<nz-table nzBordered nzTitle="台灣股票" [nzData]="msgArray">
    <thead>
        <tr>
            <th *ngFor="let title of titles;">{{title}}</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let stock of msgArray; let serialNo = index;">
            <td>{{serialNo+1}}</td>
            <td>{{stock.c}}</td>
            <td>{{stock.n}}</td>
            <td>{{stock.tv}}</td>
            <td>{{stock.v}}</td>
            <td [ngStyle]="{'color': stock.o >= stock.y ? 'red' : 'green' }">{{stock.o | number:'0.1-2'}}</td>
            <td [ngStyle]="{'color': stock.h >= stock.y ? 'red' : 'green' }">{{stock.h | number:'0.1-2'}}</td>
            <td [ngStyle]="{'color': stock.l >= stock.y ? 'red' : 'green' }">{{stock.l | number:'0.1-2'}}</td>
            <td [ngStyle]="{'color': stock.z >= stock.y ? 'red' : 'green' }">{{stock.z | number:'0.1-2'}}</td>
            <td>{{stock.y | number:'0.1-2'}}</td>
            <td [ngStyle]="{'color': 0 > stock.upAndDown ? 'green' : 'black' }">{{stock.upAndDown | number:'1.1-2'}}</td>
        </tr>
    </tbody>
</nz-table>


<!-- 舊版 -->
<!--
<table cellpadding="5" border='1'>
    <th *ngFor="let title of titles;">{{title}}</th>

    <tr *ngFor="let stock of msgArray; let serialNo = index;">
        <td>{{serialNo+1}}</td>
        <td>{{stock.c}}</td>
        <td>{{stock.n}}</td>
        <td>{{stock.z}}</td>
        <td>{{stock.tv}}</td>
        <td>{{stock.v}}</td>
        <td>{{stock.o}}</td>
        <td>{{stock.h}}</td>
        <td>{{stock.l}}</td>
    </tr>
</table>
-->